doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') Title Footprint
      li: a(href='#about') Title Capacity
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer
p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.